.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.revealed{
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .reveal{
        transform: none;
        opacity: 1;
    }
}